
{% extends 'Agronomie/base.html' %}
{% load static %}
{% block title %} Actualites{% endblock  %}

{% block navbar %}
<ul class="navbar-nav ml-auto">
	<li class="nav-item">
	   <a class="nav-link" href="{% url 'home' %}">Accueil</a>
	</li>
	<li class="nav-item">
	   <a class="nav-link active" href="{% url 'actu' %}">Actualites</a>
	</li>

	<li class="nav-item dropdown">
	  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Cultures
	  </a>
	  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
		 <a class="dropdown-item" href="{% url 'culture' %}">Informations cultures</a>
		 <a class="dropdown-item" href="{% url 'technique_culture' %}">Techniques cultures</a>

	  </div>
   </li>
	<li class="nav-item">
	   <a class="nav-link" href="{% url 'calendrier' %}">Calendrier</a>
	</li>
	{% if user.is_authenticated %}
   <li class="nav-item">
      <a class="nav-link" href="{% url 'forums' %}">Forums</a>
    </li>
   {% endif %}
	
	<li class="nav-item">
	  <a class="nav-link" href="{% url 'apropos' %}">A propos</a>
   </li>
	<li class="nav-item">
	   <a class="nav-link" href="{% url 'contact' %}">Contact</a>
	</li>
	{% if user.is_authenticated %}
	{% comment %} <li class="nav-item">
	   <a class="nav-link" href="{% url 'logout' %}">Deconnexion</a>
	</li> {% endcomment %}
	<li class="nav-item dropdown">
	   <a class="" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		 {% if user.profile %}
		  <img src="{{ user.profile.url }}" alt="" style="width: 40px; height: 40px; padding: none;border-radius: 25px; border:1px solid black">
		  {% else %}
		  <img src="{%  static 'Compte/img/prog.png' %}" alt="" style="width: 40px; height: 40px; padding: none;border-radius: 25px; border:1px solid black">

		  {% endif %}
		  
	   </a>
	   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
		  <a class="dropdown-item" href="{% url 'profil' %}">profile</a>
		  <a class="dropdown-item" href="{% url 'logout' %}">Deconnexion</a>

	   </div>
	</li>
	<!-- <li class="nav-item">
	   <div style="">
		  <img src="{% static 'Agronomie/images/about-img.jpg' %}" alt="" style="width: 40px; height: 40px; padding: none;border-radius: 25px;">
	   </div>
 
	</li> -->
	{% else %}
	<li class="nav-item dropdown">
	   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	   Connexion
	   </a>
	   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
		  <a class="dropdown-item" href="{% url 'login' %}">se connecter</a>
		  <a class="dropdown-item" href="{% url 'signup' %}">s'inscrire</a>

	   </div>
	</li>

	{% endif %}
  
   
 </ul>
{% endblock  %}

{% block content %}
	<!-- full Tit
	
	<!-- full Title -->
	<div class="full-title">
		<div class="container">
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="mt-4 mb-3">Guinée
				<small>Conakry</small>
			</h1>
		</div>
	</div>

    <!-- Page Content -->
    <div class="container">
		

		<div class="row">
			<!-- Blog Entries Column -->
			<div class="col-md-8 offset-md-2 blog-entries">
				<!--  start publication -->
				<center>
					<div class="breadcrumb-main mt-3 shadow">
					  <div class="breadcrumb d-flex justify-content-end text-white">
						{% if user.is_authenticated %}
						<li class="nav-item dropdown">
							<a class="" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-bell mx-4" style="font-size: 30px;"> <span class="badge bg-primary"
									style="font-size: 15px; position: absolute; top: -10px; right: 13px; border-radius: 50%; border: none;">{{nb_notif}}</span></i>
							</a>
							
							<div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdownPortfolio" style="height: 300px; overflow: scroll;">
								{% for notifications in user_notif  %}
								<div class="p-1 my-1" style="background-color: rgb(225, 225, 225); width: auto; align-items: center; border-radius: 10px;">

								<a class="dropdown-item d-flex" href="{% url "detail_actualite" notifications.actualite.id %}" style="color: black;padding: 1px;">
										<div >
											<img src="{{ notifications.utilisateur.profile.url }}" alt="" style="width: 50px; height: 50px; border-radius: 50px;padding: 0;">
										</div>
										<div>
											<em class="mb-0 p-0 ml-1" style="font-size: 0.8em; font-weight: bold;">{{ notifications.utilisateur.username | truncatewords:1 }}</em>
											<em class="d-block mb-0 p-0" style="font-size: 0.7em;">{{notifications.titre_notif | truncatewords:2}}</em>
											<em class="d-block mb-0 p-0" style="font-size: 0.7em;">{{notifications.date_notif}}</em>
										</div>
										
								</a>		

								</div>
								
								{% endfor %}

							</div>
						</li>
						{% endif %}
							 
							 {% if user.is_authenticated %}
						<button class="btn btn-ligth" data-toggle="modal" data-target="#Modal">Publier</button>
						{% else %}
						<!-- <a href="{% url "login" %}" class="btn btn-ligth" style="background-color: white; color: black;" data-toggle="modal" data-target="#Modal">Publier</a> -->
						<button type="submit" class="btn btn-ligth" data-toggle="modal" data-target="#Modal"style="background-color: white; color: black;" >Publier</button>

						<!-- modal de confirmation pub anonumous user -->

						<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
							  <div class="modal-content">
									<div class="modal-header">
										<!-- <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Confirmation</h5> -->
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p style="color: black ;">Pour publier veillez vous connecter</p>
									</div>
									<div class="modal-footer d-flex justify-content-center">
										<button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
										<a href="{% url "login" %}" class="btn btn-success">Se connecter</a>
									</div>
							  </div>
							</div>
						</div>

						<!-- end modal de confirmation pub anonumous user -->

						{% endif %}
					  </div>
					</div>
				   </center>
                   {% if info %}
            <div  class="alert alert-success alert-dismissible fade show" style="position: absolute;margin-top: 15px; z-index: 1000;max-width: 330px;">            
                <em>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{info}}
                </em> 
            </div> 
            {% endif %}

				<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered">
					  <div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">publication</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
							<form action="" method="post" enctype="multipart/form-data">
								{% csrf_token %}

								<input class="form-control mb-3" type="text" placeholder="Titre de publication" name="titre">
								<textarea class="form-control mb-3" name="contenue" id="" cols="15" rows="5" placeholder="Saisisser le text de votre publication ici ..."></textarea>
								<div>
									<label for="">choisir une image</label>
									<input class="form-control" type="file" placeholder="choisir" name="image">
								</div>
								<div class="modal-footer d-flex justify-content-center">
									<button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
									<button type="submit" class="btn btn-success">Publier</button>
								</div>
							</form>
							</div>
							
					  </div>
					</div>
				</div>
				<!-- end publication -->
			  <!-- Blog Post -->
			  {% for actus in actualite %}
			  
			  <div class="card mb-4" data-aos="zoom-in">
				<div class="card-header">
					<div class="d-flex" style="align-items: center;">
						<div>
							<img class="img-fluid mr-2" src="{{actus.auteur.profile.url}}" alt="" style="width: 50px; height: 50px; border-radius: 150px; border: 1px solid black;">
						</div>
						<div>
							<strong>{{actus.auteur.username}}</strong><em> | {{actus.auteur.roles}}</em>
							<div><small>{{actus.date_pub}}</small></div>
						</div>
					
					</div>
				</div>
					<div class="d-flex justify-content-center">
						<img style="min-width: 50%; max-height: 50%;" class="img-fluid" src="{{actus.media.url}}" alt="Card image Blog" />
					</div>
					<!-- <div>
						<img class="card-img-top" src="{{actus.media.url}}" alt="Card image Blog" />
					</div> -->
					<div class="card-body">
					<h2 class="card-title">{{actus.titre}}</h2>
					<p class="card-text">{{actus.contenu|truncatewords:40}}</p>
					
					<a href="{% url 'detail_actualite' actus.id %}" class="btn btn-primary">lire plus &rarr;</a>
			
					</div>
					
			  </div>
			  {% endfor %}

			  

				<div class="pagination_bar_arrow">
				  <!-- Pagination -->
					<ul class="pagination justify-content-center mb-4">
						<li class="page-item">
							<a class="page-link" href="#">&larr; Older</a>
						</li>
						<li class="page-item disabled">
							<a class="page-link" href="#">Newer &rarr;</a>
						</li>
					</ul>
				</div>

			</div>

			<!-- Sidebar Widgets Column -->
			

		</div>
		<!-- /.row -->

    </div>
    <!-- /.container -->

								
    <!--footer starts from here-->
{% endblock  %}
