{% load static %}
{% include "Agronomie/header.html" %}
	
	<!-- full Title -->
	<div class="full-title">
		<div class="container">
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="mt-4 mb-3">Portfolio 1
				<small>Subheading</small>
			</h1>
		</div>
	</div>

    <!-- Page Content -->
    <div class="container">
		<div class="breadcrumb-main">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="index.html">Home</a>
				</li>
				<li class="breadcrumb-item active">Portfolio 1</li>
			</ol>
		</div>
	<div class="project-inner">
		<!-- Project One -->
		<div class="text-center">

				<img class="img-fluid rounded mb-3 mb-md-0" src="{{detail.image.url}}" alt="" />

				<h3>{{detail.nom_culture}}</h3>
				<p>{{detail.description_culture}}</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, vel? Libero totam voluptatibus odit, alias esse sit quasi sint ut, modi non excepturi eos officia delectus sequi, unde ea nemo.
				</p>
				<br>
				
				<a class="btn btn-primary" href="{% url 'culture' %}">Retour
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			
		</div>
		<!-- /.row -->
	</div>
    <hr>
	
	
	

    </div>
    <!-- /.container -->

    <!--footer starts from here-->
   {% include "Agronomie/footer.html" %}