{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SingUp</title>
    <link rel="stylesheet" href="{% static 'Compte/css/style.css' %}">
    <!-- Bootstrap core CSS -->
	<link href="{% static 'Agronomie/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
   
	<!-- Fontawesome CSS -->
	<link href="{% static 'Agronomie/css/all.css' %}" rel="stylesheet">
    <!-- <script src="{% static 'Compte/js/validations.js' %}" defer></script> -->
</head>
<body style="background-image: url('{% static 'Agronomie/images/riz2.jpg' %}'); background-size:cover;>

    <form id="form_content" action="" novalidate method="post">
        {% csrf_token %}
        <div class="body">
            
            {% if info %}
            <div  class="alert alert-success alert-dismissible fade show" style="position: absolute;margin-top: 15px; z-index: 1000;max-width: 330px;">            
                <em style="color: red; ">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{info}}
                </em> 
            </div> 
            {% endif %}
            {% if errors %}
            <div  class="alert alert-danger alert-dismissible fade show" style="position: absolute;margin-top: 15px; z-index: 1000;max-width: 330px;">            
                <em style="color: red; ">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{errors}}
                </em> 
            </div> 
            {% endif %}
    
            <div class="content_m">
                <div style="display: flex; justify-content: center;">
                    <h3 style="height: 50px;font-size: 1.5rem;display: flex;align-items: center; border-bottom: solid 3px #35a42d;" class="h3 text-white" >Recuperation</h3>
                </div>
                <div class="text-center">
                    <em class="text-white">Recuperation de votre mot de passe</em>
                </div>

                <hr>
                
                <div class="form">
                    <label style="color:  #35a42d;" for="password">Email</label>
                    <input style="background: none; color: white;" class="form-control mb-1" type="email" placeholder="Entrer votre Email" name="email" required>                           
                </div>

                <div class="text-center">
                    <a class="btn btn-primary" id="lien" href="{% url 'login' %}">Retour</a>
                    <button class="btn btn-success" type="submit" id="enregistrer" style="color: white;font-weight: bold;">Envoyer</button>  
                </div>
            </div>
        </div>
        
    </form>

    <!-- <i class="fa fa-user"></i>
    <i class="fa fa-cog"></i>
    <i class="fa fa-power-off"></i> -->
    


   
    <script src="{% static 'Agronomie/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'Agronomie/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'Compte/js/cleave/cleave.js' %}"></script>   
    <script src="{% static 'Compte/js/cleave/cleave-phone.gn.js' %}"></script>
</body>
</html>